* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

a {
  font-family: "Jost", sans-serif;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input {
  font-family: sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 55px;
  &__nav {
    display: flex;
    gap: 45px;
  }
  &__nav-link {
    color: #292f36;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%; /* 25px */
    transition: all .3s ease-in;
    &:hover {
      color: #cda274;
    }
  }
}

.intro {
  &__box-content {
    background-image: url("img/homepage/intro-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 55px;
    padding-top: 210px;
    padding-bottom: 210px;
    padding-left: 55px;
    padding-right: 711px;
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__content {
    width: 434px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__title {
    color: #292f36;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 81.25px */
  }

  &__text {
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }

  &__button {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
    border-radius: 18px;
    background: #292f36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    padding: 26px 49px 26px 48px;
    max-width: 220px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: all .3s ease-in;
    &:hover {
      color: #cda274;
      background-color: #151616;
    }

  }

  &__button path {
    width: 15px;
    height: 11px;
  }
}

.projects {
  padding-top: 93px;
  padding-bottom: 40px;
  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  &__title {
    color: #292f36;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    // line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }
  &__text {
    color: #4d5053;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    // line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    width: 737px;
    margin-bottom: 93px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    column-gap: 100px;
    row-gap: 56px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__card-image {
    width: 550px;
    &_right-top-border {
      border-top-right-radius: 55px;
    }
    &_left-top-border {
      border-top-left-radius: 55px;
    }
    &_right-bottom-border {
      border-bottom-right-radius: 55px;
    }
    &_left-bottom-border {
      border-bottom-left-radius: 55px;
    }
  }

  &__card-content {
    display: flex;
    justify-content: space-between;
  }

  &__card-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__card-title {
    color: #292f36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    // line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }

  &__card-category {
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    // line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }

  &__card-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #f4f0ec;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: #eaeaea;
    }
  }
}

.achivements {
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #f4f0ec;
  &__block {
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 76px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  /*   &__item:not(:last-child) {
    border-right: 1px solid #cda274;
  } */
  &__item:not(:last-child)::after {
    content: " ";
    background: #cda274;
    width: 1px;
    height: 130px;
  }
  &__title {
    color: #cda274;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 106.25px */
    letter-spacing: 1.7px;
    text-align: center;
  }
  &__text {
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    // text-align: center;
  }
}

.articles {
  padding-top: 96px;
  padding-bottom: 96px;
  &__main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-left: 194.5px;
    padding-right: 194.5px;
    padding-bottom: 52px;
  }
  &__title {
    color: #292f36;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }
  &__text {
    color: #4d5053;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 382px);
    gap: 27px;
  }

  &__card-border {
    padding: 21px;
    box-sizing: border-box;
    border-radius: 62px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-in;
    &:hover {
      background-color: #eaeaea;
      cursor: pointer;
    }
  }

  &__card {
    padding-bottom: 20px;
  }

  &__card-figure {
    position: relative;
    margin-bottom: 21px;
  }
  &__card-figcapture {
    position: absolute;
    padding: 4px 5px 8px 11px;
    background-color: #fff;
    border-radius: 8px 8px 8px 0px;
    bottom: 21px;
    left: 21px;
    color: #4d5053;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }
  &__card-image {
    border-radius: 45px 45px 0px 0px;
  }
  &__card-title {
    color: #292f36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
    padding-bottom: 30px;
    width: 305px;
  }
  &__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__card-date {
    color: #4d5053;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }
  &__card-button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: none;
    background-color: #f4f0ec;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: #fffafa;
    }
  }
}

.footer {
  padding-bottom: 134px;
  &__content {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    gap: 101px;
  }

  &__description {
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }

  &__text {
    padding-top: 18px;
    padding-bottom: 31px;
  }

  &__social-media {
    display: flex;
    gap: 54px;
  }
  &__social-media-link {
    &:hover path {
      fill: #cda274;
    }
  }

  /*   &__nav {
    padding-left: 101px;
    padding-right: 101px;
  } */

  &__nav-title {
    color: #292f36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    padding-bottom: 9px;
  }

  &__nav-item {
    list-style-type: none;
  }
  &__nav-link {
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 300%; /* 66px */
    letter-spacing: 0.22px;
    transition: all .3s ease-in;
    &:hover {
      color: #cda274;
    }
  }

  &__contact-title {
    color: #292f36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    margin-bottom: 26px;
  }
  &__contact-info {
    color: #4D5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 300%;
    letter-spacing: 0.22px;
  }
}
